<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>541409753782-vund55t15s7ihfr9j3jeb8r3or1hikjl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.541409753782-vund55t15s7ihfr9j3jeb8r3or1hikjl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>541409753782-c2rn6brdjt60cn0i5avh83hvf46kg8v5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCT53B5oFu4-4p40KYaXzlyQQOt74rJj5E</string>
	<key>GCM_SENDER_ID</key>
	<string>541409753782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smartalarm</string>
	<key>PROJECT_ID</key>
	<string>ai-alarm-system</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-alarm-system.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541409753782:ios:f1fee832ac3f08f4514417</string>
</dict>
</plist>